doctype html
html
head
  include ./_includes/head

body
  include ./_includes/header
  include ./_includes/single
  include ./_includes/live
  include ./_includes/newsletter
  include ./_includes/contact
  
