section.header
  //- h1 GENE
  .logo
    img(src='/assets/img/logo2narrow.svg')
  include socialmedia
  
  .arrow-container
    a(href='#single').arrow.scroll-on-page-link 
      h2.arrow__text New Single
      .arrow__body
      .arrow__tip
