section.home
  header
    h1 GENE
    .social-media-box
      a(href='http://www.facebook.com').icon.socicon-facebook
      a(href='http://www.facebook.com').icon.socicon-instagram
      a(href='http://www.facebook.com').icon.socicon-twitter
      a(href='http://www.facebook.com').icon.socicon-youtube
  main
    
