section.live
  .live-wrapper
    h2 Upcoming Shows
    
    .concert-wrapper
      .concert-box.date-box
        ul
          li 21st Nov
          li 16th Dec
          li 12th Jan
          li 2nd Feb
          li 16th Dec
          li 12th Jan
          li 2nd Feb
      .concert-box.location-box
        ul
          li Fluc, Vienna
          li Babu, Dabu
          li Kiki, Dudi
          li Wawa, Muli
          li Babu, Dabu
          li Kiki, Dudi
          li Wawa, Muli
          
