section.newsletter
  h2 Sign up for News about GENE
  
  .signup-box
    .input-box
      input(type='text', placeholder='Name')
      input(type='email', placeholder='Email')
    input(type='submit').submit
