section.newsletter
  h2 Sign up for News about GENE
  
  .signup-box
    .input-box
      input(type='text', placeholder='Name').input--name
      input(type='email', placeholder='Email').input--email
    input(type='submit', value='Submit').submit 
