section.single
  .single-wrapper
    
    h2 New Single ‘So Long’ out now!
    
    .video-wrapper
      .video
        iframe(width="853", height="480", src="https://www.youtube.com/embed/kOkQ4T5WO9E", frameborder="0", allowfullscreen)

    .shop-wrapper
      h3 Available on: 
      
        a(href="") Bandcamp 
        | • 
        a(href="") iTunes  
        | • 
        a(href="") Spotify  
        | • 
        a(href="") Google Play  
        
