.social-media-box
  a(href='http://www.facebook.com').icon-container.icon-container__fb
    .icon.socicon-facebook
  a(href='http://www.facebook.com').icon-container.icon-container__insta
    .icon.socicon-instagram
  a(href='http://www.facebook.com').icon-container.icon-container__tw
    .icon.socicon-twitter
  a(href='http://www.facebook.com').icon-container.icon-container__yt
    .icon.socicon-youtube
