.social-media-box
  a(href='http://www.facebook.com').icon-container
    .icon.socicon-facebook
  a(href='http://www.facebook.com').icon-container
    .icon.socicon-instagram
  a(href='http://www.facebook.com').icon-container
    .icon.socicon-twitter
  a(href='http://www.facebook.com').icon-container
    .icon.socicon-youtube
