section.header

  h1
    font:
      family: 'Futura'
      size: 12rem
      weight: normal

    line-height: 12rem
    margin: 1.5rem 0 1rem
    color: #A8FFEB
    opacity: .7
    cursor: default

  .social-media-box

    .icon
      display: inline-block
      text-decoration: none
      font-size: 2rem
      margin: 0 1rem
      color: white
      opacity: .5

      +transition

      &:hover
        opacity: 1
