section.header
  background: rgba(white, .1)
  margin-bottom: 10px
  h1
    font:
      family: 'Futura'
      size: 12rem
      weight: normal

    line-height: 12rem
    margin: 1.5rem 0 1rem
    color: rgba(black, .6)
    // #BBCCBD
    opacity: .8
    cursor: default
    +transition

    &:hover
      color: rgba(white, .5)
      // #63C5AE

  .social-media-box

    .icon

      color: rgba(black, .5)
      // #BBCCBD
      opacity: .8

  @media(max-width: 600px)
    h1
      font-size: 9rem
      line-height: 9rem
      margin: .5rem 0

  @media(max-width: 460px)
    h1
      font-size: 6rem
      line-height: 6rem
      margin: .5rem 0

  @media(max-width: 310px)
    h1
      font-size: 5rem
      line-height: 5rem
      margin: .5rem 0

    .social-media-box
      .icon-container
        margin: 1rem .3rem
